/*styles.css */

	p {
		color: #C5C6C7;
	}

	/*Background gradient*/
		.bgGradient 
		{
		background-image: linear-gradient(to right, #1F2833 , #0B0C10);
		}
    
    /*Puts Reversi board image on Top Right of Website */
    	.board
    	{
    	position: absolute;
    	top:100px;
    	right:50px;
    	height:20%;
		width: 20%;
		}

	/*Customization of buttons*/
   		.myButton {
		font-family:Arial;
		font-size:18px;
		font-weight:bold;
		color: #1F2833;
		text-transform: uppercase;
		text-decoration: none;
		background: #45A29E;
		padding: 20px;
		border-radius: 5px;
		display: inline-block;
		border: #66FCF1;
		transition: all 0.4s ease 0s;
		}

		.myButton:hover
		{
		background:#66FCF1;
		letter-spacing: 1px;
		box-shadow: 5px 40px -10px #66FCF1;
		transition: all 0.4s ease 0s;
		}

		.myButton:active 
		{
		position:relative;
		top:1px;
		}

	/* Adds an indent on left margin */
		.leftMargins
		{
		margin-left:4%;
		}

	/* Change font to Arial*/
		.arialChange {
  		font-size: 1rem;
		font-family: Helvetica, Arial, sans-serif;
		color: #C5C6C7;
		}
		
	/* Aligns text to left */
		.textAlign
		{
		text-align:left;
		}

   /* Game Messages in reversigame.php 500x400 */
   		.messageStyles 
   		{
		position: relative;
		display: block;
        border: none;
        width: 20%; 
        height: 40%; 
		overflow: auto;
		float: left;
		margin-left: 10%;
		}
		
	/*Title*/
		.title {
			font-family:Arial;
			font-size:75px;
			font-weight:bold;
			text-transform: small-caps;
			text-shadow: -5px 0px 5px#45A29E,
						  5px 0px 5px #66FCF1;
			color: #C5C6C7;
			text-align: left;
			margin-left: 2%;
		}

	/*Title 2*/
		.title2 {
			font-family:Arial;
			font-size:36px;
			font-weight:bold;
			text-transform: small-caps;
			text-align: center;
			text-shadow: 5px #C5C6C7;
			color: #66FCF1;
			text-align: left;
			margin-left: 2%;
		}
	
	/*Remove original hyperlink style*/
		.noLink {
			color: inherit;
			text-decoration: none;
		}

		.noLink:hover {
			background-color: #66FCF1;
		}
	
	/*Input boxes*/
		.formBox {
			display: block;
			width: 30%;
			padding-top: 15px;
			border: none;
			border-radius: 0;
			color: #1F2833;
			background: #C5C6C7;
		}

		.formBox:focus {
			outline: none;
			border-bottom-color: #C5C6C7;
			top: 0;
			color: #0B0C10;
		}